<style>
* {
  font-family: Helvetica
}

.endpoint {
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  border-left: solid 1px #666;
}

.record {
  margin: 5px;
  padding: 5px;
  margin-top: 10px;
}

.datetime {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.content {
  font-size: 14px;
  width: 800px;
  max-height: 300px;
}
</style>


{{#each endpoint_to_records}}
  <div class='endpoint'>
    /{{@key}}
    {{#each this}}
      <div class='record'>
        <div class='datetime'>{{this.dt_iso}}</div>
        <textarea class='content'>{{this.content}}</textarea>
      </div>
    {{/each}}
  </div>
{{/each}}
